{% extends 'layout.html' %}
{% block content %}

    <!--script-->
    <script>
    $(document).ready(function(){
      $('#cards-container-row').html('');
      movieList();
    });

    function makeList() {
      $.ajax({
        type: "POST",
        url: "/movieList",
        data: {},
        success: function(response){
          if(response['result'] == 'success'){
            alert('영화 리스트 갱신!');
            window.location.reload();
          }
        }
      })
    }

    function movieList() {
      $.ajax({
        type: "GET",
        url: "/movieList",
        data: {},
        success: function(response){
          let movie = response['info'];
          for (let i = 0 ; i < 8 ; i++){
            makeCard(movie[i]["Title"], movie[i]["Description"], movie[i]["Age Rating"], movie[i]["Poster"])
          }
        }
      })
    }

    function makeCard(title, description, age, poster) {
      let temp_card =
        '<div class="card" style="width: 16rem;">\
          <img class="card-img" src="'+ poster +'" alt="Card image cap">\
          <div class="card-body">\
          <h5 class="card-title" style="text-align: center">'+ title +'</h5>\
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">'+ age +'</h6>\
          <p class="card-text">'+ description +'</p>\
          <a href="#" class="card-link">See Details</a>\
          <a href="/ticket" class="card-link">Get Tickets</a>\
        </div>';
      $('#cards-container-row').append(temp_card);
    }

    </script>

    <div class="page-title" id="mainTitle">
      <h3>Now Playing</h3>
      <button type="button" onclick="makeList()">리스트 불러오기</button>
      <hr color="black">
    </div>

    <!-- Movie Card List-->
    <div class="container" id="cards-container">
      <div class="row" style="margin:20px" id="cards-container-row">
        <div class="col-sm">
          <div class="card" style="width: 16rem;">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/en/4/4f/Frozen_2_poster.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Frozen 2</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Card subtitle</h6>
              <p class="card-text">The story of Frozen 2 delves deeper into Elsa's powers.</p>
              <a href="#" class="card-link">See Details</a>
              <a href="/ticket" class="card-link">Get Tickets</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
